html {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

body {
  width: 100%;
  margin: 0;
  height: 100%;
  background-color: #888888;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  p {
    color: red;
  }
  .feedback-widget {
    $circleColor: #fa7e28;
    $headerColor: #7a7a7a;
    $labelColor: #9c9a9b;
    $commentBGColor: #f7f6f4;
    $borderColor: #e4e2e3;

    $circleDiameter: 50px;

    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    $feedsBorder: 4px solid #e3e3e3;
    $boldFontWeight: 600;

    .user-name {
      text-transform: capitalize;
    }

    .user-block {
      text-align: center;
      .feedback-circle {
        float: none;
        margin-bottom: 10px;
      }
    }

    .feedback-circle {
      background: $circleColor;
      width: $circleDiameter;
      height: $circleDiameter;
      padding: 15px 15px;
      color: #ffffff;
      font-weight: 600;
      position: relative;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      float: left;
      margin-top: 5px;
    }

    .rating-header {
      .heading {
        font-size: 16px;
        font-weight: $boldFontWeight;
        padding: 15px 0 15px 15px;
        color: $headerColor;
      }
      border: $feedsBorder;
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-radius: 6px;
    }
    .rating-list {
      height: inherit;

      @media (max-width: 992px) {
        padding-left: 0;
      }

      .total-feeds {
        padding: 15px 0;
        border-top: $feedsBorder;
        border-bottom: $feedsBorder;
      }
      .feedback-list-block {
        padding-top: 10px;
        padding-bottom: 25px;

        .feedback-rating-block {
          padding: 5px 0 15px 30px;
          background-color: #f7f6f4;
        }

        .feedback-rating-block:after {
          content: '';
          display: block;
          position: absolute;
          right: 100%;
          top: 25%;
          margin-top: -15px;
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-right: 15px solid #f7f6f4;
          border-bottom: 15px solid transparent;
          border-left: 15px solid transparent;
        }

        .feedback-headline {
          font-weight: $boldFontWeight;
          font-size: 16px;
          line-height: 37px;
          padding-right: 10px;
          color: #7b797a;
        }
        .feedback-text {
          color: #9b9a98;
          padding-bottom: 10px;
        }
        .feedback-date {
          padding-right: 7%;
          color: #b5b1b0;
        }
        .feedback-accepted-buyer {
          font-weight: $boldFontWeight;
          color: #9b999a;
          font-size: 11px;
        }
      }
    }
    .pagination-container {
      margin-top: 1em;
      padding-top: 2em;
      border-top: 1px solid #d7dadb;
      text-align: center;
    }
    ul.pagination {
      // Import Roboto font
      @import url(https://fonts.googleapis.com/css?family=Roboto:300);
      @import url(http://weloveiconfonts.com/api/?family=entypo);
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 24px;

      li {
        list-style-type: none;
        display: inline-block;
        border-right: 1px solid #d7dadb;

        transform: scale(1) rotate(19deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(-20deg);
        a {
          padding: 1.1em 1.6em;
          display: inline-block;
          text-decoration: none;
          color: #8b969c;

          transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(20deg) skewY(0deg);
        }
      }

      li:hover,
      li.active {
        background-color: #fa7e28;
        border-right: 1px solid #fff;

        a {
          color: #fff;
        }

      }

      //.pagination-item--wide.first {
      //  margin: 0 1em 0 0;
      //}
      //
      //.pagination-item--wide.last {
      //  margin: 0 0 0 1em;
      //}

      li.previous, li.next {
        text-decoration: none;
        color: #8b969c;
        padding: 0 1.6em;
      }
      li.next {
        border-right-color: #ffffff;
      }
      li.previous:hover, li.next:hover {

        background-color: #ffffff;
        a {
          color: #fa7e28;
        }
      }

      li.previous:hover {
        border-right-color: #d7dadb;
      }

      li.previous:before,
      li.next:after {
        font-family: 'entypo';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        // Better Font Rendering
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      li.previous::before {
        content: "\E765";
        margin-right: 0.5em;
      }

      li.next::after {
        content: "\E766";
        margin-left: 0.5em;
      }

      li.previous {
        margin: 0 1em 0 0;
      }
      li.next {
        margin: 0 0 0 1em;
      }
      li.disabled {

      }
      li.active {

      }
    }
  }
}

